a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}
body
{
    background-color: gainsboro;
}
.linksBlock
{
     background-color: rgba(0, 0 ,0 ,0.1);
     border-radius: 10px;
     text-align: center;
     width: 300px;
     height: 200px;
     z-index: 15;
     position: absolute;
     top: 50%;
     left: 50%;
     margin: -116px 0 0 -150px;
}